@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body{background-color: #ffffff;}

.textw {
  color: #f5f5f7;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
}

.textb {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;

  color: #1d1d1f;
}





.bgw {
  background-color: #fbfbfd;
}
.bgb{
  background: #000;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) perspective(200px) rotateX(0deg)
      rotateY(0deg);
  }
  50% {
    transform: translate(-50%, -50%) perspective(200px) rotateX(0deg)
      rotateY(180deg);
  }
 
}




 
