.responsivetitle {
  font-size: 70px;
}

@media screen and (max-width: 480px) {
  .responsivetitle {
    font-size: 32px;
  }
}

.rimage {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 480px) {
  .rimage {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .smalltext {
    font-size: 8px;
  }
}

.text2 {
  font-size: 28px;
}

@media screen and (max-width: 480px) {
  .text2 {
    font-size: 14px;
    text-align: justify;
  }
}

li {
  list-style-type: none;
}

@media screen and (max-width:480px) {
  .main{
    height: 520px;
  }
}

.us{
  width: 100px;
height: 100px;
background-size: cover;
margin: 0px 40px;
}

@media screen and (max-width:480px) {
  .us{
    width: 50px;
  height: 50px;
  margin: 0px 20px;
  
  }
}
.names{
  font-size: 16px;
    }

@media screen and (max-width:480px) {
  .names{
    padding-top: 8px;
font-size: 12px;
  }
}