.background {
  background-image: url("../assets/Desktop.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  .background {
   
  background-image: url("../assets/backgroundmobile");
  }
}

.responsivetext {
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .responsivetext {
    padding: 5px;
    font-size: 14px;
    margin: 0px 2px;
  }
}
.responsivexongroh {
  font-size: 70px;
  color: #F69C27;
}

@media screen and (max-width: 480px) {
  .responsivexongroh {
    font-size: 40px;
  }
}

