.rstitle {
  font-size: 48px;
}

@media screen and (max-width: 480px) {
  .rstitle {
    font-size: 32px;
  }
}


.rstext {
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .rstext {
    font-size: 15px;
  }
}



.rsbtn {
  width: 211px;
  height: 58px;
  font-size: 28px;
}

.rsicon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 480px) {
  .rsicon {
    width: 25px;
    height: 25px;
  }
}



.contact {
  font-size: 20px;
}

@media screen and (max-width:480px) {
  .contact {
    font-size: 16px;
  }
}


.text3 {
  font-size: 20px;
}

@media screen and (max-width:480px) {
  .text3 {
    font-size: 12px;
  }
}


.main {
  height: 654px;
}

@media screen and (max-width:480px) {
  .main {
    height: 520px;
  }
}



.footer {
  margin-top: 100px;
}

@media screen and (max-width:480px) {
  .footer {
    margin-top: 80px;
  }
}



.rsbtn2 {
  font-size: 28px;
  width: 170px;
  height: 50px;
  border: 1px solid rgba(251, 251, 253, 0.75);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:480px) {
  .rsbtn2 {
    font-size: 16px;
    width: 112px;
    height: 34px;
    margin-top: 25px;



  }
}




@media screen and (max-width:480px) {
  .rsdiv {
    display: inline;

  }
}




.rsdiv {
  display: flex;
  justify-content: center;

}



.copywright {
  margin-top: 70px;
}

@media screen and (min-width:480px) {
  .connect {
    display: flex;
  }
}

